<div class="container-fluid">
  {{#each photos}}
    <div class="col-sm-4 col-md-3 photoContainer">
      <img src="{{url}}" class="img-responsive img-thumbnail" class="img hashtag-img">
      <p class="captionContainer">{{caption}}</p>
    </div>
  {{/each}}
</div>