<div class="container-fluid photoGridContainer">
  <div class="gutterSizer"></div>
  {{#each photos}}
    <div class="col-sm-2 photoContainer img-thumbnail">
      <img src="{{url}}" class="img-responsive" class="img hashtag-img">
      <center><br><p class="captionContainer">{{caption}}<br></p></center>
      <span></span>
    </div>
  {{/each}}
</div>